body{
    font-family: 'Baloo Tammudu 2', cursive;
    margin: 0;
    padding: 0;
}
h2{
    color: orange;
}
section{
    height: 700px;
}
.half-width{
    width: 35%;
    margin-left: 10%;
    padding-top: 5%;
    float: left;
}
.half-width img{
    width: 500px;
    height: 500px;
    margin-right: 5%;
}
.top-banner{
    background-image: url("image/header-bg.png");
    background-repeat: no-repeat;
}
.what-area{
    background-image: url("image/biography-bg.png");
    background-repeat: no-repeat;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(lightsalmon, tomato);
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
#new{
    text-align: center;
}
.new-fol{
    width: 20%;
    padding-left: 10%;
    float: left;
}
.new-fol img{
    width: 400px;
    height: 400px;
}
#old{
    color: gray;
    padding-top: 1px;
}
h3{
    padding-bottom: 0px;
}
.link-g{
    margin-left: 30%;
    margin-right: 30%;
    background-image: linear-gradient(lightsalmon, tomato);
    border-radius: 20px;
    color: white;
}
footer{
    padding-top: 10px;
    text-align: center;
}
